/* 图片样式 */
.avatar-uploader .el-upload {
    border: 1px dashed #a39d9d;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
  }

  .avatar {
    min-width: 5rem;
    height: 5rem;
    display: block;
  }

  .el-breadcrumb{
    margin-bottom: 1.5em;
  }
  .el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
    
  }
  .el-table{
    margin-top: .5em;
  }
  .el-input-width{
    width: 50%;
  }
  .el-pagination{
    margin-top: .5rem;
  }
  /* // 富文本编辑器里面的播放器样式 */
  .video-container-style iframe{
    width: 100%;
    height: auto;

  }
  