
// colors
$colors:(
    "primary":#db9e3f,
    "primary-1":#b0833d,
    "info":#4b67af ,
    'danger': #791a15,
  'blue-1': #1f3695,
    "blue":#4394e4,
    "blue-2":#00adff,
    "white":#fff,
    "white-1":#fcfcfc,
    "white-2":#eceef0,
    "white-3":#f1f1f1,
    "light":#f9f9f9,
    "light-1":#d4d9de,
    "light-2":#e4e4e4,
    "grey":#999,
    "grey-1":#666,
    "grey-2":#777,
    "dark-1":#343440,
    "dark-2":#464f73,
    "dark":#222,
    "black":#000,
    
   

);
$border-color:map-get($map: $colors, $key:'light-1' );



// font-size
$base-font-size:1rem;
$font-sizes:(
    xxs:0.6154,// 8px
    xs:0.7692,// 10px
    sm:0.9231,// 12px
    md:1,     // 13px
    lg:1.0769,// 14px
    xl:1.2308,// 16px


);





$flex-jc:(
    start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
);


$flex-ai:(
    start:flex-start,
    end:flex-end,
    center:center,
    stretch:stretch
);



// spacing
$spacing-types:(
    m:margin,
    p:padding
);
$spacing-directions:(
    t:top,
    r:right,
    b:bottom,
    l:left
);
$spacing-base-size:1rem;
$spacing-sizes:(
    0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3

);



